body{
    width: 98%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: rgb(236, 235, 235);
}
h1{
    color: cadetblue;
}
b{
    color: crimson;
}
h5{
    color: cyan;
    
}

.blinking{
    animation: blinkingText 0.8s infinite;
    

}
#gbu{
    color: rgb(3, 18, 31);
}

@keyframes blinkingText{
    0%{ transform: none;
    
    }
    49%{ transform: 1.49;
    color: transparent;
    }
    50%{ transform:1.5;
        color: transparent;
    }
    70%{transform: 1.7;
        color: transparent;
    }
    90%{transform: 1.9;
        color: transparent;
    
    }
    100%{transform: 2;
        
    }
}
.hidden{
    display: none;
}
.show{
    display: block;
}
select{
    width: 60%;
    height: 20%;
    align-content: center;
    font-size: x-large;
}
#form{
    margin-bottom: 10%;
    
    box-shadow: 4px 10px 20px rgba(0,0,0,0.19), 4px 6px 6px rgba(0,0,0,0.23);
    background-color: black;
    color: white;
    /*color: rgba(81, 17, 184, 0.925);*/
}
#form>div{
    width: 90%;
    font-size: xx-large;
}
input[type='text']{
    
    width: 60%;
}
input[type='tel'], input[name='district'], input[name='Location'], input[name='denomination']{
    width: 60%;

}
input[name='district'], input[name='location'], input[name='denomination']{
    font-size: x-large;
}
input[type='submit']{
    margin-top: 5%;
    background-color: yellowgreen;
}
input{
    font-size: x-large;
    margin-bottom: 15%;
}
div{
    margin-bottom: 5%;
}
@media (max-width:500px){
    label{
        width:100%;
    }
    input{
        border: none;
        width: 100%;
    }
}
@media (min-width:720px){
    input{
        font-size: xx-large;
        margin-bottom: 1%;
    }
    body{
        width: 95%;
    }
    #form{
        padding: 8%;
    }
    #form>div{
        width: 100%;
    }
    input[type='text']{
        width: 50%;
    }
    label[for='number'], label[for='district'], label[for='Location'], label[for='denomination'], label[for='gender'], label{
        float: left;
    }
    input[type='tel'], input[name='district'], input[name='denomination'], input[name='location']{
        width: 50%;
    
    }
    /**input[name='location']{
        width:30%;
    }**/
    

}